.ibm-plex-mono-thin {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-mono-extralight {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-mono-light {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.logo-img {
    width: 110px;
    height: 50px;
   
}

[data-bs-theme="dark"] .logo-img {
    content: url('/images/logounach.png');
    background-color: #212529;
    border-radius: 10%;
    background-position: center;
    background-size: cover;
}