<footer class="mt-5 py-5 border-top bg-body-tertiary shadow-sm">
    <div class="container">
        <div class="row mb-5 text-center text-md-start ">
            <div class="col-md-5">
                <h5 class="text-uppercase text-muted mb-2">Sobre Nosotros:</h5>
                <p class="fw-light">Somos un equipo apasionado por la enseñanza de los
                    fundamentos de las matemáticas. Nuestro objetivo es simplificar conceptos clave y construir una base
                    sólida para tu éxito académico.</p>
            </div>
            <div class="col-md-7 text-md-end mt-4 mt-md-0">
                <img src="/images/linuxPinguino.png" alt="linux-pinguino" width="150" height="150">
            </div>
        </div>

        <div
            class="d-flex justify-content-between align-items-center flex-column flex-md-row text-center text-md-start pt-4 border-top">
            <div class="mb-3 mb-md-0">
                <span class="text-muted small">© 2025</span>
            </div>
            <div class="mb-3 mb-md-0">
                <a href="https://github.com/Xhadesu117/linearProgramming.git"
                    class="btn btn-outline-secondary rounded-pill me-2 mb-2 mb-md-0" target="_blank"
                    rel="noopener noreferrer">GitHub</a>

            </div>
            <div class="text-muted small">
                <span>Diseñado por Ades Delgado</span><br>
                <span class="d-block d-md-inline">Desarrollado por Club Penguin</span>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>

</html>